#root {
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
    overflow: scroll;
}

.status-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}